# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [5]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [7]:
cur.execute("""select firstName, lastName from employees join offices using(officeCode) where city = 'Boston';""")
cur.fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?

In [8]:
cur.execute("""select city, count(*) from employees left join offices using(officeCode) group by 1;""")
df = pd.DataFrame(cur.fetchall())
df.head()

               0  1
0         Boston  2
1         London  2
2            NYC  2
3          Paris  5
4  San Francisco  6

## Write 3 Questions of your own and answer them

In [ ]:
#what are the emails of the employees from boston

In [14]:
cur.execute("""select email from employees join offices using(officeCode) where city = 'Boston'; """)
df = pd.DataFrame(cur.fetchall())
df.head()

                                 0
0   jfirrelli@classicmodelcars.com
1  spatterson@classicmodelcars.com

In [17]:
#what are the job titles available and how many in Boston ?

cur.execute("""select jobTitle, count(*) from employees join offices using(officeCode) where city = 'Boston';""")
df = pd.DataFrame(cur.fetchall())
df.head()

           0  1
0  Sales Rep  2

In [18]:
#What are the extensions to the employees in boston?
cur.execute("""select extension from employees join offices using(officeCode) where city = 'Boston';""")
df = pd.DataFrame(cur.fetchall())
df.head()

       0
0  x2173
1  x4334

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!